.material
	 background-color: rgba($bg-secondary, 0.5)
  &-block
	 display: flex
	 justify-content: space-between
	 flex-wrap: wrap
	 &__card
		 margin-bottom: 10px	 
  &-card
	 background-color: #fff
	 position: relative
	 &__text
		 padding: 20px 0 
		 font-size: 15px	 
	 &__button
		 text-align: center
		 position: absolute
		 z-index: -1
		 box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1)
	   width: 100%
		 font-size: 2em
		 left: 0
		 bottom: 0
		 height: 50px
		 padding: 20px

	 &:hover 
			.material-card__button
				 z-index: 99
				 bottom: -80px
	 &__materialtag
		 margin: 0
		 display: flex
		 justify-content: space-between
		 margin-bottom: 24px
		

